<!--Similar to character details. view characters details for more references-->
<ion-header>
	<ion-toolbar>
		<ion-button slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-button>
		<ion-title class="ion-text-center">{{ quote?.quote }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteQuote()" *ngIf="isFavourite">
				<ion-icon name="heart" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteQuote()" *ngIf="!isFavourite">
				<ion-icon name="heart-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<p> <b><u>Quote:</u></b> </p>
			<blockquote> {{ quote.quote }} </blockquote>
		</ion-card-content>

		<ion-card-content>
			<p><b><u>Series:</u></b> {{ quote.series }} </p>
		</ion-card-content>

		<ion-card-content>
			<p><b><u>Author:</u></b> {{ quote.author }} </p>
		</ion-card-content>
	</ion-card>
</ion-content>