<!--Similar to character details. view characters details for more references-->
<ion-header>
	<ion-toolbar>
		<ion-button slot="start">
			<ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
		</ion-button>
		<ion-title class="ion-text-center">{{ episode?.title }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
				<ion-icon name="heart" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
				<ion-icon name="heart-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="episode">


		<ion-card-content>
			<p> <b><u>Series:</u></b> {{ episode.series }} </p>
		</ion-card-content>

		<ion-card-content>
			<p> <b><u>Season:</u></b> {{ episode.season }} </p>
		</ion-card-content>

		<ion-card-content>
			<p> <b><u>Episode:</u></b> {{ episode.episode }} </p>
		</ion-card-content>

		<ion-card-content>
			<p> <b><u>Release date:</u></b> {{ episode.air_date }} </p>
		</ion-card-content>

		<ion-card-content>
			<p> <b><u>Cast:</u></b> {{ episode.characters }} </p>
		</ion-card-content>

	</ion-card>
</ion-content>