<ion-header>
	<ion-toolbar>
		<ion-title class="ion-text-center" color="secondary"><b>welcome to the Breaking bad APP</b></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!--Quick explanation about the app-->
	<ion-card>
		<h2 class="ion-text-center">Here you will find all information about the series.</h2>
		<h2 class="ion-text-center">What are you looking for?</h2>
	</ion-card>

	<!--Linking a img from a folder, ionic forum post by Ludolefrenchy (ref:  https://forum.ionicframework.com/t/how-to-add-images-in-ionic-4-beta/145591)-->
	<img src="/assets/img/bbwelcome.jpg" class="center"/>
	<!--Image taken from yodobi.com user on pinterest (ref: https://www.pinterest.ie/pin/735775657851093264/)-->


	<ion-card>
		<p class="ion-text-center">Credits to Breaking Bad API</p>
	</ion-card>

</ion-content>