img {
    border: 2px solid var(--ion-color-secondary); //I used W3 Schools for css styling guidelines
    border-radius: 8px;
    width: 100%;
    height: auto;
}

p{
    font-size: 15px;
    color: darkgrey;
}

h2{
    color: var(--ion-color-secondary);
}