<ion-header>
	<ion-toolbar color="primary">
		<ion-button slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-button>
		<ion-title>{{ character?.name }}</ion-title>
       <ion-buttons slot="end">
    <ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
      <ion-icon name="star" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
      <ion-icon name="star-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="character">

		<ion-card-content>
			<img src="{{ character.img }}">
		</ion-card-content>

			<ion-card-content>
				<h2> Nickname: {{ character.nickname }} </h2>
			</ion-card-content>

			<ion-card-content>
				<h2>Birthday: {{ character.birthday }} </h2>
			</ion-card-content>

			<ion-card-content>
				<h2> Occupation: {{ character.occupation }} </h2>
			</ion-card-content>

			<ion-card-content>
				<h2> Status: {{ character.status }} </h2>
			</ion-card-content>

			<ion-card-content>
				<h2> Actor/Actress: {{ character.portrayed }} </h2>
			</ion-card-content>

	</ion-card>
</ion-content>